{% for post in post_list %}
  <div class="card card mb-5">
    {% if post.image %}<img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}">{% endif %}
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      {% load humanize %}
      <h6 class="card-subtitle mb-2 text-muted">{{ post.user.username }} написал статью {% if post.hub %}в хабе «{{ post.hub.title }}» {% endif %}{{ post.created_at|date:"j M Y" }}</h6>
      <hr>
      <p class="card-text">{{post.brief_text}}</p>
      <a class="card-link" href="{% url 'posts:detail' slug=post.slug %}"></a>
    </div>
  </div>
{% endfor %}
