<div class="row mb-5">
    <h1 class="col">
        @{{ user.username }}
        {% if request.user == user %}
            <a href="{%  url 'users:user_edit' pk=user.pk %}"
               class="btn btn-outline-secondary"
               title="Редактировать">
                <i class="bi bi-pencil"></i>
            </a>
        {% endif %}
        {% if request.user.is_superuser and not user.is_staff and request.user != user %}
            <a href="{%  url 'users:set_status' pk=user.pk status='moderator' %}"
               class="btn btn-outline-secondary">
               Дать права модератора
            </a>
        {% endif %}
        {% if request.user.is_superuser and user.is_staff and request.user != user %}
            <a href="{%  url 'users:set_status' pk=user.pk status='user' %}"
               class="btn btn-outline-secondary">
               Забрать права модератора
            </a>
        {% endif %}
    </h1>
    <p>
        {% if user.is_superuser %}
            (администратор)
            {% else %}{% if user.is_staff %}
                (модератор)
            {% endif %}
        {% endif %}
    </p>
</div>
