<header>
    <nav class="navbar navbar-expand-sm navbar-light shadow mb-5">
        <div class="container">
            <a href="/" class="navbar-brand">Orion</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto">
                    {% for hub in hubs %}
                        <li class="nav-item">
                            <a  href="{% url 'hubs:hub' slug=hub.alias %}"
                                class="nav-link {% if hub.alias == current_hub %} active {% endif %}"
                                title="{{hub.title}}">
                                {{hub.title}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>
